body{
    text-align: center;
}
.btn{
    height: 150px;
    width: 150px;
    border: 6px solid black;
    border-radius: 20%;
    margin: auto;
}
.btn-container{
    height: 380px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color:#d95980;
}
.green{
    background-color: #819ff9;
}
.purple{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
.start-btn{
    width: 20%;
    font-size: 24px;
    font-weight: 700;
    background-color: red;
    color: yellow;
    border-radius: 15px;
}
.start-btn:active{
    background-color: white;
    color: black;
}